@import 'variables';

.input-form {
    border-radius: 0.25rem!important;
    border: 1px solid $gray-0!important;
    background: $white-color!important;
    padding: 0.5rem!important;
    color: $font-0!important;
    font-size: 0.875rem!important;
    line-height: 140%!important;
    width: 100%!important;
    display: block;
    &:focus-visible {
        outline: none;
    }
    &::placeholder {
        color: $font-2!important;
    }
    &.errorField {
        border: 1px solid #E04B59!important;
    }
    &:disabled {
        background-color: $gray-1!important;
    }
    &:read-only {
        background-color: $gray-1!important;
    }
}

.check-box {
    display: flex;
    padding-left: 1.25rem;
}

.select-form {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    gap: 0.25rem;
    border: 1px solid $gray-0;
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 1rem;
    outline: none !important;
    &:has(option[value="pending_approve"][selected="selected"]) {
        color: #5884C7;
    }
    &:has(option[value="approved"][selected="selected"]) {
        color: #81CA5E;
    }

    option {
        font-size: 0.825rem;
        font-weight: 600;
        line-height: 1.25rem;
    }

    option[value="opened"] {
        color: $font-2;
    }

    option[value="pending_approve"] {
        color: #5884C7;
    }

    option[value="approved"] {
        color: #81CA5E;
    }

    option[value="finished"] {
        color: #2C5717;
    }

    option[value="recused"] {
        color: #F58888;
    }
}

.default-buttons {
    all: unset!important;
    padding: 0.5rem 0.75rem!important;
    gap: 0.25rem!important;
    border-radius: 0.25rem!important;
    font-size: 0.875rem!important;
    line-height: 140%!important;
    text-align: center!important;
    font-weight: 600!important;
    display: flex !important;
    align-items: center!important;
    cursor: pointer!important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
    &:disabled {
        opacity: 0.4 !important;
    }

    i {
        font-size: 1.25rem;
    }

}

.primary-button {
    @extend .default-buttons;
    color: $white-color!important;
    background-color: $primary-color!important;
    &:hover {
        background-color: $primary-color-hover!important;
    }
}

.secondary-button {
    @extend .default-buttons;
    border: 1px solid $border-color!important;
    color: $font-3!important;
    background-color: $white-color!important;
    &:hover {
        background-color: $secondary-button-hover!important;
    }
}

.cancel-button {
    @extend .secondary-button;
    margin-left: 0.5rem!important;
}

.messageError {
    color: #E04B59 !important;
    font-size: 0.75rem !important;
    margin: 0 !important;
    &::after {
        content:"";
        display:inline-block;
    }
}

//Select2

.select2 {
    width: 100%!important;
    border: 1px solid $gray-0!important;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    &.errorField {
        border: 1px solid #E04B59!important;
    }

    .selection {
        width: 100%;

        .select2-selection {
            padding: 0.5rem!important;
            border: none!important;
            height: auto!important;
            min-height: auto!important;

            .select2-selection__rendered {
                color: $font-0;
                font-size: 0.875rem;
                line-height: 1rem;
                padding: 0 1.25rem 0 0;
                display: table-row;

                .select2-selection__placeholder {
                    color: $font-2;
                    font-size: 0.875rem;
                    line-height: 140%;
                }

                .select2-selection__choice {
                    margin: 0!important;
                }

                .select2-search__field {
                    margin: 0!important;
                }
            }

            .select2-selection__arrow {
                height: 2.25rem!important;
                top: 0!important;
                right: 0.5rem!important;
                width: 1rem!important;
            }
        }
    }
}

//Upload Image

.divImage {
    border-radius: 10px;
    border: 1px dashed $gray-0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 2.5rem!important;
    cursor: pointer!important;
    &.active {
        opacity: 0.5;
    }
    &.error {
        border: 1px dashed #E04B59 !important;
    }

    svg {
        color: $font-2;
        width: 60px;
        height: 60px;
    }

    span {
        color: $font-2;
        font-style: normal;
        font-size: 0.875rem;
        line-height: 1.25rem;
        white-space: nowrap;
    }
}

.input-password {
    display: flex;
    align-items: center;
    gap: 8px;

    div {
        margin-left: -30px;
        cursor: pointer;
        color: $font-2!important;
    }

    i {
        font-size: 1rem;
    }
}

.generate-password-button {
    button  {
        p {
            white-space: nowrap;
            margin: 0;
        }

        i {
            font-size: 1.25rem;
        }
    }

}

.condition-password{
    p {
        color: $font-3;
        font-size: 0.75rem;
        font-style: italic;
        line-height: 130%;
        margin: 0.25rem 0 0;
    }
}

.preview-img {
    max-height: 80px;
}

.radios {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
        display: flex;
        gap: 0.25rem;
        align-items: flex-start;
        padding-left: 0.5rem !important;

        input {
            width: 1rem;
            height: 1rem;
            accent-color: $primary-color;
        }

        .description-option {
            display: flex;
            flex-direction: column;

            label {
                margin: 0;
            }

            span {
                color: $font-1;
                font-size: 0.75rem;
                font-style: italic;
                line-height: 1rem;
            }
        }
    }
}

.radios-inline {
    display: flex;
    gap: 0.5rem;

    div {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        input {
            width: 1rem;
            height: 1rem;
            accent-color: $primary-color;
        }

        label {
            margin: 0;
        }
    }
}

.dates {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

// Crop-box
.crop-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff no-repeat center;
    cursor: move;

    .thumb-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        box-sizing: border-box;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
        background: none repeat scroll 0 0 transparent;
    }

    .crop-box .spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 400px;
        background: rgba(0, 0, 0, 0.7);
    }
}
