.input-form {
  border-radius: 0.25rem !important;
  border: 1px solid #E7E7E7 !important;
  background: #FFFFFF !important;
  padding: 0.5rem !important;
  color: #2B2A2A !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  width: 100% !important;
  display: block;
}
.input-form:focus-visible {
  outline: none;
}
.input-form::placeholder {
  color: #CECBD0 !important;
}
.input-form.errorField {
  border: 1px solid #E04B59 !important;
}
.input-form:disabled {
  background-color: #E9ECEF !important;
}

.select-form {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  gap: 0.25rem;
  border: 1px solid #E7E7E7;
  font-size: 0.825rem;
  font-weight: 600;
  line-height: 1rem;
  outline: none !important;
}
.select-form:has(option[value=pending_approve][selected=selected]) {
  color: #5884C7;
}
.select-form:has(option[value=approved][selected=selected]) {
  color: #81CA5E;
}
.select-form option {
  font-size: 0.825rem;
  font-weight: 600;
  line-height: 1.25rem;
}
.select-form option[value=opened] {
  color: #CECBD0;
}
.select-form option[value=pending_approve] {
  color: #5884C7;
}
.select-form option[value=approved] {
  color: #81CA5E;
}
.select-form option[value=finished] {
  color: #2C5717;
}
.select-form option[value=recused] {
  color: #F58888;
}

.primary-button {
  all: unset !important;
  padding: 0.5rem 1rem !important;
  gap: 0.25rem !important;
  border-radius: 0.25rem !important;
  background-color: #0000AA !important;
  color: #FFFFFF !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  cursor: pointer !important;
}
.primary-button:hover {
  background-color: #032041 !important;
}
.primary-button:disabled {
  opacity: 0.5 !important;
}

.secondary-button, .actions a, .cancel-button {
  all: unset !important;
  display: flex !important;
  padding: 0.5rem 1rem !important;
  gap: 0.5rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid #E7E7E7 !important;
  background: #FFFFFF !important;
  color: #2B2A2A !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  cursor: pointer !important;
}
.secondary-button:hover, .actions a:hover, .cancel-button:hover {
  background-color: #E7E7E7 !important;
}

.cancel-button {
  margin-left: 0.5rem !important;
}

.messageError {
  color: #E04B59 !important;
  font-size: 0.75rem !important;
  margin: 0 !important;
}
.messageError::after {
  content: "";
  display: inline-block;
}

.select2 {
  width: 100% !important;
  border: 1px solid #E7E7E7 !important;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
.select2.errorField {
  border: 1px solid #E04B59 !important;
}
.select2 .selection {
  width: 100%;
}
.select2 .selection .select2-selection {
  padding: 0.5rem !important;
  border: none !important;
  height: auto !important;
  min-height: auto !important;
}
.select2 .selection .select2-selection .select2-selection__rendered {
  color: #2B2A2A;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0 1.25rem 0 0;
  display: table-row;
}
.select2 .selection .select2-selection .select2-selection__rendered .select2-selection__placeholder {
  color: #CECBD0;
}
.select2 .selection .select2-selection .select2-selection__rendered .select2-selection__choice {
  margin: 0 !important;
}
.select2 .selection .select2-selection .select2-selection__rendered .select2-search__field {
  margin: 0 !important;
}
.select2 .selection .select2-selection .select2-selection__arrow {
  height: 2rem !important;
  top: 0 !important;
  right: 0.5rem !important;
  width: 1rem !important;
}

.divImage {
  border-radius: 10px;
  border: 1px dashed #E7E7E7 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 2.5rem !important;
  cursor: pointer !important;
}
.divImage.active {
  opacity: 0.5;
}
.divImage.error {
  border: 1px dashed #E04B59 !important;
}
.divImage svg {
  color: #CECBD0;
  width: 60px;
  height: 60px;
}
.divImage span {
  color: #CECBD0;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
}

.input-password {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-password div {
  margin-left: -30px;
  cursor: pointer;
  color: #CECBD0 !important;
}
.input-password button p {
  white-space: nowrap;
  margin: 0;
}

.preview-img {
  max-height: 80px;
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.radios div {
  display: flex;
  gap: 0.25rem;
  align-items: flex-start;
}
.radios div input {
  width: 1rem;
  height: 1rem;
  accent-color: #0000AA;
}
.radios div .description-option {
  display: flex;
  flex-direction: column;
}
.radios div .description-option label {
  margin: 0;
}
.radios div .description-option span {
  color: #7E7E7E;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1rem;
}

.radios-inline {
  display: flex;
  gap: 0.5rem;
}
.radios-inline div {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.radios-inline div input {
  width: 1rem;
  height: 1rem;
  accent-color: #0000AA;
}
.radios-inline div label {
  margin: 0;
}

.dates {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.crop-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fff no-repeat center;
  cursor: move;
}
.crop-box .thumb-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background: none repeat scroll 0 0 transparent;
}
.crop-box .crop-box .spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 400px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-main {
  padding: 1rem 1.5rem 0 1.5rem;
  gap: 0.5rem;
  border-bottom: 2px solid #D2091E;
  background: #0000AA;
}
.navbar-main .navbar-brand {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;
}
.navbar-main .navbar-brand .text-version {
  color: #CECBD0;
  font-size: 0.875rem;
  line-height: 1rem;
}
.navbar-main .navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navbar-main .navbar-container .navbar-collapse {
  justify-content: center;
  align-items: flex-end;
}
.navbar-main .navbar-container .navbar-collapse .navbar-nav {
  gap: 1.5rem;
}
.navbar-main .navbar-container .navbar-collapse .navbar-nav a {
  display: flex;
  padding: 0.75rem 0.5rem;
  gap: 0.25rem;
  color: #FFFFFF;
  font-size: 1rem;
  align-items: center;
}
.navbar-main .navbar-container .navbar-collapse .navbar-nav a.active:not(.dropdown-item) {
  border-bottom: 2px solid #D2091E;
  padding-bottom: 0.625rem;
}

.user-menu .nav-link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 100%;
  padding: 0;
}
.user-menu .nav-link img, .user-menu .nav-link span {
  margin: 0 !important;
  padding: 0;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 !important;
}
.dropdown-menu li {
  width: 100%;
}
.dropdown-menu .dropdown-item {
  padding: 1rem !important;
  color: #222 !important;
  font-size: 0.875rem;
  line-height: 1rem;
  width: 100%;
}
.dropdown-menu .dropdown-item.active {
  background-color: #FFFFFF !important;
}

.content-wrapper {
  padding: 1.5rem;
}

.content-header {
  padding: 0 !important;
}
.content-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}
.content-header .container .more-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  gap: 9%;
}
.content-header .container .more-header .filters {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.container {
  max-width: initial !important;
  padding: 0 !important;
}

.title h1 {
  color: #2B2A2A;
  font-size: 1.75rem;
  line-height: 2rem;
}
.title p {
  color: #7E7E7E;
  font-size: 1rem;
  line-height: 125%;
  margin: 0;
  white-space: nowrap;
}

.actions a .br {
  border: 1px solid #2B2A2A;
  border-radius: 100%;
  padding: 1px;
  width: 0.75rem;
  height: 0.75rem;
}

.content {
  padding: 0 !important;
}

.body {
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
}

.hidden {
  display: none !important;
}

.color-blue {
  color: #5884C7;
}

.color-green {
  color: #81CA5E;
}

.bs-tooltip-top .arrow::before {
  border-top-color: #0000AA;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #0000AA;
}

.tooltip-inner {
  background-color: #0000AA;
}

.tooltip-inner.large {
  min-width: 312px;
}

.tooltip.show {
  opacity: 1 !important;
}

.status-receipt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.status-receipt svg {
  height: 1.25rem;
}
.status-receipt svg path {
  fill: #0000AA;
}

.statusr {
  height: 0.5rem !important;
}
.statusr.sent path {
  fill: #24EE50;
}
.statusr.unsolicited path {
  fill: #A1A3A5;
}
.statusr.error path {
  fill: #F58888;
}
.statusr.waiting path {
  fill: #FFC107;
}

.tooltip-status {
  display: flex;
  align-items: center;
}

.receipt-tooltop {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.receipt-tooltop .desc-status {
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 0.85rem;
  line-height: 1.25rem;
  gap: 8px;
}
.receipt-tooltop .desc-status .statusr {
  height: 0.75rem !important;
}
.receipt-tooltop .receipt-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;
  background: #FDFBEB;
  color: #000000;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
}
.receipt-tooltop .receipt-body .top-receipt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.receipt-tooltop .receipt-body .top-receipt .general-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.receipt-tooltop .receipt-body .top-receipt .general-info .header-receipt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.receipt-tooltop .receipt-body .top-receipt .general-info .info-local {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: justify;
}
.receipt-tooltop .receipt-body .top-receipt .general-info .info-local .church {
  font-size: 1rem;
  font-weight: 600;
}
.receipt-tooltop .receipt-body .top-receipt .general-info .info-local div {
  display: flex;
  flex-direction: column;
}
.receipt-tooltop .receipt-body .top-receipt .doc-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.825rem;
}
.receipt-tooltop .receipt-body .top-receipt .value-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.receipt-tooltop .receipt-body .bottom-receipt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*# sourceMappingURL=app.css.map */
